<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>

<body>

<div class="container">
    <a href="/calc_get"><h1>Calculate via HTTP GET</h1></a>
    <a href="/calc_post"><h1>Calculate via HTTP POST</h1></a>
</div>
</body>
</html>
