<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head}">
<meta charset="UTF-8">
<title>Marks</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body class="container">
	<div th:replace="~{fragments::navbar(current=index)}"></div>

	<div class="jumbotron">
		<h1 class="display-4">Welcome to ASW Marks!</h1>
		<p class="lead">This is a simple hero unit, a simple
			jumbotron-style component for calling extra attention to featured
			content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space
			content out within the larger container.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn
				more</a>
		</p>
	</div>
</body>
</html>
