<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL-Shorty</title>

    <link rel="icon" href="data:,"> <!-- disable favicon requests -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/shorty.css">
</head>
<body>

<div class="container">
    <h1>URL Shorty</h1>
    <nav>
        <a href="/" class="btn btn-link">Home</a>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">About this service</h1>

        <h4>Current Version: <span th:text="${version}">0.0.1</span></h4>
        <h4>Current Commit SHA hash: <span th:text="${shortCommitId}">abcdef</span></h4>
    </div>
</div>
</body>
</html>